################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/springdata-api/bin/Debug/netcoreapp3.1
/springdata-api/obj
/springdata-common/obj
