@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>This is a test application built to demonstrate the CI/CD process to Azure App Service Containers on Linux.</p>

    <h1>Employees</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Employees != null)
                @foreach (var emplooyee in Model.Employees)
                {
                    <tr>
                        <td>@emplooyee.Id</td>
                        <td>@emplooyee.FirstName</td>
                        <td>@emplooyee.LastName</td>
                        <td>@emplooyee.Age</td>
                    </tr>
                }
        </tbody>
    </table>

    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>First Name: <input asp-for="Employee.FirstName" /></div>
        <div>Last Name: <input asp-for="Employee.LastName" /></div>
        <div>Age: <input asp-for="Employee.Age" /></div>
        <input type="submit" />
    </form>
</div>
